.instruction-page-container {
    width: 62vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.instruction-topic-container {
    display: flex;
    justify-content: center;
}

.instruction-topic {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

.schematic-container {
    height: 100%;
    width: 95%;
}

.instruction-content-container{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}